@font-face {
    font-family: "SugarPie";
    src: url("../fonts/SugarPie.ttf");
  }
  

.title {
    display: flex;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    margin: 0;
    padding: 50px 0;
    font-size: 30px;
    color: black;
    font-family: "SugarPie";
  }

  .carrito{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 20px;
    /* width: 500px; */
  }

  .producto{
    display: flex;
  }
  
  
  .img{
    width: 40px;
  }

  .btn_delete{
    background-color: white;
    height: 20px;
    &:hover{
      background-color: rgb(235, 21, 21);
      color: white;
    }
  }


  /* estilos de los productos de la tabla */
  img{
    width: 50px;
  }

 td{
  border-bottom: 1px dashed black;
 }


  