@font-face {
    font-family: "SugarPie";
    src: url("../fonts/SugarPie.ttf");
  }
  

.title {
    display: flex;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    margin: 0;
    padding: 50px 0;
    font-size: 30px;
    color: black;
    font-family: "SugarPie";
  }

  #carrito{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 20px;
    list-style-type: none;
    /* width: 500px; */
  }

  aside{
    padding: 20px;
    text-align: center;
  }

  .producto{
    display: flex;
  }
  
  
  .img{
    width: 40px;
  }

  .btn_delete{
    background-color: white;
    height: 20px;
    &:hover{
      background-color: rgb(235, 21, 21);
      color: white;
    }
  }

  .container_btn_carrito{
    display: flex;
    justify-content: space-around;
  }



  #boton-vaciar{
    background: black;
    color: white;
    margin-bottom: 10px;
    &:hover{
      background: rgb(51, 50, 50);
      color: white;
    }
  }

  /* estilos de los productos de la tabla */
  #carrito{
    display: flex;
    align-items: center;
  }

  .list-group-item{
    display: flex;
    align-items: center;
  }

  .carrito-marco  {
    display : inline-block;
    width: 40px;
    img {
      padding-top:3px;
      width: 100%;
    }
  }
  
  h2{
    border-bottom: 1px solid grey;
  }
  

  .contadorProductos {
    position: relative;
  }

  

.contadorProductos #contadorProductos {
    position: absolute;
    top: -5px;
    right: -5px; 
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 4px 8px;
    font-size: 12px;
}

  .tabla{
    width: 700px;
  }

  img{
    width: 50px;
  }

 th,td{
  border-bottom: 1px dashed black;
 }





  